@import './mixins/index.scss';

body{
    ul,li{
        display: block;
        padding: 0;
    }
    li{
        list-style-type: none;
    }



    .pretty-btn{
        font-size: 25px;
        padding: 10px 20px;
        border:none;
        border-radius: 5px;
        background-color: rgb(161, 53, 53);
        transition: all 0.5s;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);

        &:focus{
            transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.096);
        }

    }

    @import './app/header.scss';
    @import './app/about.scss';
    @import './app/footer.scss';
}

.title{
    @include title(#000);
}